shopping.cart .product-list .qty {
	width: 65px;
	text-align: center;
	border-color: #eee;
	border: 1px solid #eee;
	padding: 5px;
  }

.product__item__text .product-quantity .product-quantity-slider {
	width: 140px;
}
  
.product__item__text .product-quantity .product-quantity-slider input {
	width: 130px;
}

#button_clicked:hover{
	border-radius: 5px; 
	border: 5px solid #cc071e
}

#button_clicked:active {
    background-color: green;
	border: 5px solid green
}