<div class="row">
    <div class="col-md-5">
        <app-address-list></app-address-list>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>
<!--   

<p>The following addresses will be used on the checkout page by default.</p>
<div class="account-info">
    <div class="card p-4">
        <h4 class="card-title">
            Billing info 
            <a routerLink="/edit-address" class="float-right text-sm">Edit</a>
        </h4>
        <address>Jassa Smith<br>
            1491 Ludhiana Street<br>
            Punjab<br>
            India<br>
        </address>
    </div>
    <div class="card p-4 mt-4">
        <h4 class="card-title">
            Shipping info 
            <a routerLink="/edit-address" class="float-right text-sm">Edit</a>
        </h4>
        You have not set up this type of address yet.
    </div>
</div> 

-->
