<div class="row">
  <h3>Add new address: </h3>
  <div class="col-md-8">
    <form #newAddressForm="ngForm" (ngSubmit)="onCreateAddress(newAddressForm.value)">
      <div class="form-group mb-4">
          <label for="address">Address</label>
          <input 
            type="text" 
            class="form-control" 
            id="name"
            required 
            ngModel
            name="name"
            placeholder="Address"
          />
      </div>
      
      <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!newAddressForm.valid"
      >
          Create
      </button>
      <button
          class="btn btn-default"
          type="button"
          (click)="onCancel()"
      >
          Cancel
      </button>
    </form>
  </div>
</div>