<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Address:</label>
                        <input
                            type="text"
                            id="name"
                            formControlName="name"
                            class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button
                        type="submit"
                        class="btn btn-success"
                        [disabled]="!addressForm.valid"
                    >
                        Save
                    </button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
  