<section class="breadcrumb-section" style="background-image:url('assets/img/breadcrumb.jpg');
background-size: cover;background-position: top center;background-repeat:no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h2>Billing Details</h2>
            <form action="#">
                <div class="row">
                    <div class="col-lg-8 col-md-6" *ngIf="checkAuthenticated">

                        <div class="checkout__input">
                            <p><strong>Full Name:</strong><span>*</span></p>
                            <p>{{ userProfile.name }}</p>
                        </div>
                        <div class="checkout__input">
                            <p><strong>Email:</strong><span>*</span></p>
                            <p>{{ userProfile.email }}</p>
                        </div>
                        <div class="checkout__input">
                            <p><strong>Address:</strong><span>*</span></p>
                            <div class="form-group" *ngIf="userAddress.length==0">
                                <p>No address has been registered.</p>
                                <input
                                    type="text"
                                    class="form-control"
                                    #addressName>
                                <button
                                    style="margin-top: 10px;"
                                    class="btn btn-primary"
                                    (click)="onSubmitAddress(addressName.value)"
                                >
                                    Submit Address
                                </button>
                            </div>
                            <div class="form-group" *ngIf="userAddress.length!=0">
                                <p>{{ userAddressNameSelected }}</p>
                                <select class="form-control">
                                    <option value="none" selected disabled hidden> Select an Address</option>
                                    <option 
                                        *ngFor="let address of userAddress" 
                                        value="{{ address.id }}"
                                        (click)="onSelectAddress(address)" 
                                    >
                                        {{ address.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="checkout__input">
                            <p><strong>Delivery Date:</strong><span>*</span></p>
                            <input
                                type="date" 
                                id="delivery" 
                                name="delivery"
                                #deliveryDate
                                required />
                            <p style="margin-top: 15px;"><strong>Order notes:</strong><span>*</span></p>
                            <input 
                                type="text"
                                #orderNote
                                placeholder="Notes about your order, e.g. special notes for delivery."/>
                            <button 
                                style="margin-top: 15px;"
                                type="submit" 
                                class="site-btn"
                                (click)="onSubmitInfo(deliveryDate.value, orderNote.value)" 
                            >
                                SUBMIT INFo
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-6" *ngIf="!checkAuthenticated">
                        <label>Warning: </label>
                        <p style="color: red;">You should login or creating account to submit your order.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary" routerLink="signup">Sign Up</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary" routerLink="signin">Sign In</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h2>Your Order</h2>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul *ngFor="let item of items">
                                <li>{{ item.product }} <span>{{ onTotalEachItemPrice(item.price, item.quantity)| number }}€</span></li>
                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span>{{ onSubtotalPrice()| number }} €</span></div>
                            <div class="checkout__order__tax">Tax <span>{{ onTaxPrice()| number }} €</span></div>
                            <div class="checkout__order__total">Total <span>{{ onTotalPrice()| number }} €</span></div>
                            <button (click)="onSubmitCheckout()" type="submit" class="site-btn">SUBMIT ORDER</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->