<div class="row">
    <div class="col-xs-12">
      <h3>Address:</h3>
      <h4>{{ address.name }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="btn-group">
            <button class="btn btn-primary" (click)="onEditAddress()">Edit Address</button>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="btn-group">
            <button class="btn btn-danger" (click)="onDeleteAddress()">Delete Address</button>
        </div>
    </div>
</div>


  